@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply box-border;
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  @apply bg-surface font-sans text-gray-900;
}
